@import "tailwindcss";

:root {
  --background: #D5B9B2;
  --foreground: #171717;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat), sans-serif;
}
html {
  scroll-behavior: smooth;
}

section {

  scroll-margin-top: 110px;

}